.gender_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weight_wrapper {
    display: flex;
    flex-direction: column;
}

.gender_images_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gender_image_button {
    background: none;
    border: none;
}

.opacity {
    opacity: 0.5;
}

.gender_image:first-child {
    margin-right: 20px;
}

.gender_image {
    width: 60%;
}

.weight_title {
    margin-top: 5px;
    margin-bottom: 10px;
}