.result_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.result_text {
    margin: 60px 20px;
}

.result_img {
    margin-bottom: 60px;
}

.button_result {
    width: 200px;
}

.but_first {
    margin-bottom: 30px;
}